@import url('https://fonts.cdnfonts.com/css/instagram-sans-script');

*
{
    margin: 0;
    padding: 0;
    /* font-family: 'Instagram Sans Script', sans-serif; */

}
.container
{
    display: flex;
    overflow: hidden;
}
.sidebar
{
    width: 20vw;
    border-right: 0.5px solid black;
    height: 100vh;
    overflow: none;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}
.sidebar-top
{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.main
{
    height: 100vh;
    overflow-x: none;
    overflow-y: scroll;
    width: 80vw;
}
#brand_logo
{
    width: 10vw;
    padding: 5px;
    margin: 10px 5px 30px 5px;
    max-width: 500px;
    box-sizing: border-box;

}
.sidebar-item
{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 5px;
    font-size: 20px;
}
.sidebar-item>p
{
    padding: 5px;
    margin-top: 5px;
}
.fa solid
{
    font-size: 25px;
    padding: 5px;
}

.profile-img
{

}