@import url('https://fonts.cdnfonts.com/css/instagram-sans-script');

*
{
    margin: 0;
    padding: 0;
    /* font-family: 'Instagram Sans Script', sans-serif; */

}
.container
{
    display: flex;
    overflow: hidden;
}
.sidebar
{
    width: 20vw;
    border-right: 0.5px solid black;
    height: 100vh;
    overflow: none;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}
.sidebar-top
{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.main
{
    height: 100vh;
    overflow-x: none;
    overflow-y: scroll;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
#brand_logo
{
    width: 10vw;
    padding: 5px;
    margin: 10px 5px 30px 5px;
    max-width: 500px;
    box-sizing: border-box;

}
.sidebar-item
{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 5px;
    font-size: 20px;
}
.sidebar-item>p
{
    padding: 5px;
    margin-top: 5px;
}
.fa solid
{
    font-size: 25px;
    padding: 5px;
}
.card
{
 border: none;
 border-radius: 10px;
 box-shadow: 1px 1px 10px 1px #888;
 height: auto;
 width: 450px;   
 margin-bottom: 30px; 
 position: relative;
}
.main-img
{   
    width: 100%;
    height: auto;
    max-width: 450px;

}

.stories
{
    overflow-x: scroll;
    overflow-y: none;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
}
.story
{
    display: inline-block;
    text-align: center;
    padding-right: 10px;

}
.story>p{
    font-size: 12px;
}
.story>img
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.stories::-webkit-scrollbar
{
    display: none;
}
.next-arrow
{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 8px;
    background-color: white;
    color: black;
    border-radius: 50%;
    opacity: 0.8;
    font-weight: bolder;
    cursor: pointer;
}